/* general */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
    
}
/* utilities */
.p-20{
    padding: 20px;
}
/* app */
.app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #fef6e4;
}
/* header */
.header{
    color:#001858;
}
.header h1{
    font-family: 'Acme', sans-serif;
    font-size: 40px;
}
.header h1 span{
    color:#f582ae;
}
.wrap-select{
    position: relative;
}
/* search */
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color:#fef6e4;
    background: #001858;

}
.wrap-select select{
    appearance: none;
    margin-left: 10px;
    width: 200px;
    height: 35px;
    font-size: 16px;
    color:#f582ae;
    background: transparent;
    border:solid  1px #fef6e4;
}
#type{
    padding: 10px;
}
/* arrow */
.wrap-select::before{
    content: '';
    position: absolute;
    top:50%;
    right:10px;
    transform:translateY(-25%);
    border: 5px solid transparent;
    border-top: 5px solid #fef6e4;
}
/* icons */
.icons{
    flex-grow: 1;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 20px 10px;
    background: #f582ae;
}
.icons .icon{
    flex-basis: calc(100% / 6 - 20px);
    margin: 20px 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    background: #fef6e4;
    border-radius: 3px;
}
.icons .icon i{
    margin-bottom: 20px;
    font-size: 38px;
}